<div class="main-header">
        <mat-toolbar color="primary">
            <img class="img-responsive" src="../../assets/logo_white.png">

            <div class="wrapper">
                    <input type="text" class="input" placeholder="Search Videos">
                    <mat-icon class="icon">search</mat-icon>
                 </div>
            
            <span class="example-spacer"></span>
            <span flex></span>
            <div style="font-size: 30px">
                <mat-icon class="icon-right">home</mat-icon>
                <mat-icon class="icon-right" matBadge="{{notificationsCount}}">notifications</mat-icon>
                <mat-icon class="icon-right" >settings</mat-icon>
                <mat-icon class="icon-right" >person</mat-icon>
            </div>
        </mat-toolbar>

      </div>
      