.mat-toolbar {
    background: #1d72dd;
    height: auto;
}

.mat-toolbar img {
    margin-top: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

.icon-right {
   font-size: 35px;
   padding: 2px 20px; 
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    right: 2px;
    top: -5px;
    background: none;
}

.img-responsive {
    height: auto;
    width: auto;
    padding: 8px 0px;
    max-height: 49px;
    max-width: 250px;
}

input {
    border-radius: 10px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 3px;
    padding-left: 40px;
    color: white;
    border: 1px solid white;
    background: transparent;
    width: 200px;
    height: 35px;    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


.wrapper {
    display: grid;
    grid-template-columns: 1fr 0;
}

.icon{
    width: 40px;
    position: relative;
    right: 290px;
    font-size: 28px;
    line-height: 42px;
    cursor: pointer;
    z-index: 1;
}

.input{
    padding-right: 57px;
}

.toggle-side-nav {
    padding-left: 30px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 30px;
    line-height: 30px;
}