<app-header (toggleSideNav)="toggleSideNav()"></app-header>
<div>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="opened">
            <mat-accordion multi="true" [displayMode]="displayMode">
                <mat-expansion-panel class="no-shadow" [hideToggle]="true" style="pointer-events: none">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight: bold; font-size: 20px;">
                            MENU
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel class="no-shadow" [expanded]="true">
                    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight"
                        [collapsedHeight]="collapseHeight">
                        <mat-panel-title style="font-size: 20px;">
                            VIDEO LINKS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="ml-0" dense>
                        <mat-list-item>
                            <a class="list-link" href="#">Bookmarked Videos</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a class="list-link" href="#">Completed Videos</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a class="list-link" href="#">Notes</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a class="list-link" href="#">PDFs</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a class="list-link" href="#">Videos History</a>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="no-shadow my-0" [expanded]="true">
                    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight"
                        [collapsedHeight]="collapseHeight">
                        <mat-panel-title style="font-size: 20px;">
                            DISCUSSION LINKS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="ml-0" dense>
                        <mat-list-item>
                            <a class="list-link" href="#">Doubts</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a class="list-link" href="#">Answered Doubts</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a class="list-link" href="#">Bookmarked Doubts</a>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="no-shadow my-0" [expanded]="true">
                    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight"
                        [collapsedHeight]="collapseHeight">
                        <mat-panel-title style="font-size: 20px;">
                            OTHER LINKS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="ml-0" dense>
                        <mat-list-item>
                            <a class="list-link" href="#">My Downloads</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a class="list-link" href="#">My Profile</a>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-tab-group style="height: 100vh;">
                <mat-tab label="Subjects">
                    <div>
                        <app-subjects></app-subjects>
                        <app-subjects></app-subjects>
                    </div>
                </mat-tab>
                <mat-tab label="Discussions"> Discussions </mat-tab>
                <mat-tab label="My Dashboard"> My Dashboard </mat-tab>
            </mat-tab-group>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>